html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.rectangle {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -1%);
    border-radius: 20px;
    height: 700px;
    width: 600px;
    background-color: #89CFF0;
}

#mainHeader {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(42%, 80%);
    font-family: 'Roboto Slab', serif;
}

.formFields {
    position: relative;
    display: grid;
    place-items: center;
    transform: translate(10px, 90px);
}


#btn {
    background-color: #b20000;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(515%, 350%);
    padding-inline: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: xx-large;
    width: auto;
    color: white;
    border: none;
}
